
# file types
*.cpg
*.dbg
*.dbf
*.prj
*.shp*
*.shx
*.tif
*.grd
*.gri
*.vcf
*.zip

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rproj.user

# docs
# inst/doc

# vignette files
vignettes/wingen-vignette_files/*
Meta

# SIMULATION EXAMPLE
paperex/simex/RData/
paperex/simex/bdrive/
paperex/simex/GNX_mod-sims_params
paperex/simex/plots
!paperex/simex/outputs/*.tif
!paperex/simex/data/samples_seed42.csv
!paperex/simex/data/middle_earth.csv
!paperex/simex/data/mod-sim_params_it-0_t-1000_spp-spp_0.csv

# EMPIRICAL EXAMPLE
paperex/plots
!paperex/empex/data/Scelop.coords
!paperex/empex/data/populations_r20.haplotypes.filtered_m70_randomSNP.vcf
!paperex/empex/data/populations_r20.haplotypes.filtered_m70_randomSNP.ped
!paperex/empex/data/populations_r20.haplotypes.filtered_m70_randomSNP.map
!paperex/empex/data/SDM.tif

# code coverage token
cov_token.R
*.map
*.ped
