
# file types
*.tif
*.cpg
*.dbg
*.dbf
*.prj
*.shp*
*.shx

# SIMS
sims/RData/
sims/data/
sims/bdrive/
sims/GNX_mod-sims_params
sims/outputs
sims/*.csv
sims_nlm/data
!sims/data/samples_seed42.csv
!sims/data/bottleneck_lyr.csv
!sims/data/init_lyr.csv
!sims/data/middle_earth.csv

#EMPIRICAL
empex/data

# private token
token.R

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rproj.user

# docs
# inst/doc

# tif files
*.tif

#vcfs
*.vcf

#random spatial files
*.grd
*.gri
